{% extends '::base.html.twig' %}

{% block body -%}
<<<<<<< HEAD
    <h1>Company</h1>
=======
    <h1>Firma</h1>
>>>>>>> 2616e842e22f4f4457bf9467f2e767c852c7d7eb

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>IČO</th>
                <td>{{ entity.ico }}</td>
            </tr>
            <tr>
                <th>DIČ</th>
                <td>{{ entity.dic }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_records') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
