/* ---------- Main Styles------------
  1. Basic classes and elements 
  2. Typography
  3. Header
  4. List and Navigation
  5. Buttons
  6. Sliders
  7. Main Content Elements
  8. Main Content
  9. Forms
  10. Icons
  11. Footer
-------------------------------------*/


/* ------------------------------------
  1. Basic classes and elements 
-------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Sarala:400,700&subset=latin,latin-ext);
html {
  position: relative;
}

body {
  font-family: 'Sarala', sans-serif;
}

.bg-seagreen {
  background-color: #b3f2f0;
  color: #00ada7;
}

.bg-seagreen:hover {
  background-color: #00ada7;
  color: #fff;
}

.bg-yellowgreen {
  background-color: #e8f9c6;
  color: #96ca2d;
}

.bg-yellowgreen:hover {
  background-color: #96ca2d;
  color: #fff;
}


/* ------------------------------------
  2. Typography 
-------------------------------------*/

.title-success {
  font-size: 67px;
  line-height: 1.1;
  color: #ff680d;
  font-weight: bolder;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}


/* ------------------------------------
  3. Header 
-------------------------------------*/

.logo {
  max-width: 400px;
}

.margin-top-20 {
  margin-top: 20px;
}

.float-right {
  float: right;
}


/* ------------------------------------
  2. Typography 
-------------------------------------*/


/* ------------------------------------
  3. Header 
-------------------------------------*/

.main_menu.menu_var2 > ul > li:nth-child(1) > a.current {
  background: #ff680d;
}

.main_menu.menu_var2 > ul > li:nth-child(2) > a.current {
  background: #13b7ff;
}

.main_menu.menu_var2 > ul > li:nth-child(3) > a.current {
  background: #854ec2;
}

.main_menu.menu_var2 > ul > li:nth-child(4) > a.current {
  background: #feb41c;
}

.main_menu.menu_var2 > ul > li:nth-child(5) > a.current {
  background: #ec2913;
}

.main_menu.menu_var2 > ul > li:nth-child(6) > a.current {
  background: #00ada7;
}

.main_menu.menu_var2 > ul > li:nth-child(7) > a.current {
  background: #197bbe;
}

.main_menu.menu_var2 > ul > li:nth-child(8) > a.current {
  background: #a13d63;
}

.main_menu.menu_var2 > ul > li:nth-child(9) > a.current {
  background: #96ca2d;
}

.main_menu.menu_var2 > ul > li:nth-child(10) > a.current {
  background: #d1008b;
}


/* ------------------------------------
  5. Buttons
-------------------------------------*/

.btn-block {
  width: 100%;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}

.btn-file {
  position: relative;
  overflow: hidden;
  padding: 9.5px 15px;
  cursor: pointer;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.button-list li {
  margin-bottom: 10px;
  line-height: 1.2;
  margin-left: 0;
}

.button-list li a div {
  font-family: 'Sarala', sans-serif;
}

.btn-fb {
  background: #edeff6;
  color: #4c66a3;
}

.btn-fb:hover {
  background: #4c66a3;
  color: #fff;
}

.button.view_button:not(.button_type_icon_small){
 padding: 1px 11px; 
}

/* ------------------------------------
  6. Sliders 
-------------------------------------*/

.blockquotes div:first-child {
  color: #3e454c;
}


/* ------------------------------------
  7. Main Content Elements 
-------------------------------------*/

.related_articles_list li:not(:last-child) {
  padding-bottom: 25px;
  border-bottom: 2px solid #feb41c;
  margin-bottom: 25px;
}

ul.related_articles_list li.events {
  border-color: #13b7ff;
}

ul.related_articles_list li.news {
  border-color: #96ca2d;
}

ul.related_articles_list li.articles {
  border-color: #a13d63;
}


/* ------------------------------------
  8. Main Content 
-------------------------------------*/

.table-vertical tr td:first-child {
  font-weight: bold !important;
  text-align: right;
}

.table-vertical tr:first-child td {
  border-top: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-content ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: 10px;
  -webkit-padding-start: 40px;
}

.text-content p {
  margin: 0 0 10px;
}

.weather_widget .date_list > ul li {
  float: none;
  display: inline-block;
  *display: inline;
  /*IE7*/
  *zoom: 1;
  /*IE7*/
  padding-left: 0px;
}

.weather_widget .date_list > ul li:not(:first-child) {
  margin-left: 7%;
}

.side_bar_tabs.comment_tabs ul li:hover .comment_number.active {
  background: #96ca2d;
}

.side_bar_tabs.comment_tabs ul li:hover .comment_number.passive {
  background: #feb41c;
}

.side_bar_tabs.comment_tabs .post_theme.active {
  background: #96ca2d;
}

.side_bar_tabs.comment_tabs .post_theme.passive {
  background: #feb41c;
}


/* ------------------------------------
  9. Forms 
-------------------------------------*/

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn>.button {
  position: relative;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
  margin-right: -1px;
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.file-reader {
  margin-top: 0 !important;
  margin-left: -2px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.control-group > label {
  margin-bottom: 0;
}

.error-input.alert-danger {
  background: #ffe8ba;
  margin-bottom: 10px;
}


/* enable absolute positioning */

.inner-addon {
  position: relative;
}


/* style icon */

.inner-addon .icon {
  position: absolute;
  display: block;
  padding: 9px;
  pointer-events: auto;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.5;
}

.inner-addon .icon:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}


/* align icon */

.left-addon .icon {
  left: 0px;
}

.right-addon .icon {
  right: 0px;
}


/* ------------------------------------
  10. Icons
-------------------------------------*/


/* ------------------------------------
  11. Footer
-------------------------------------*/

ul.socials-list li {
  min-width: 0;
  width: 30%;
}

ul.socials-list li > a {
  width: 100%;
  min-width: 0;
}
.sort {
  cursor: pointer;
}
.tag-list li {
  display: inline-block;
  margin-bottom: 10px;
}

.tag-list {
   text-align: justify;
}

ul.tag-list::after {
  width: 100%; 
  display: inline-block; 
  content: "."; 
  visibility: hidden
}
