/* ---------- Main Styles------------
  1. Basic classes and elements 
  2. Typography
  3. Header
  4. List and Navigation
  5. Buttons
  6. Sliders
  7. Main Content Elements
  8. Main Content
  9. Forms
  10. Icons
  11. Footer
-------------------------------------*/


/* ------------------------------------
  1. Basic classes and elements 
-------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Sarala:400,700&subset=latin,latin-ext);
body {
  font-family: 'Sarala', sans-serif;
  margin-bottom: 68px;
}

.bg-seagreen {
  background-color: #b3f2f0;
  color: #00ada7;
}

.bg-seagreen:hover {
  background-color: #00ada7;
  color: #fff;
}

.bg-yellowgreen {
  background-color: #e8f9c6;
  color: #96ca2d;
}

.bg-yellowgreen:hover {
  background-color: #96ca2d;
  color: #fff;
}


/* ------------------------------------
  2. Typography 
-------------------------------------*/

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}


/* ------------------------------------
  3. Header 
-------------------------------------*/

.logo {
  max-width: 400px;
}

.margin-top-20 {
  margin-top: 20px;
}

.post-list-item {
  height: 200px;
}


/* ------------------------------------
  2. Typography 
-------------------------------------*/


/* ------------------------------------
  3. Header 
-------------------------------------*/


/* ------------------------------------
  5. Buttons
-------------------------------------*/

.btn-block {
  width: 100%;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}

.btn-file {
  position: relative;
  overflow: hidden;
  padding: 9.5px 15px;
  cursor: pointer;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.button-list li {
  margin-bottom: 10px;
  line-height: 1.2;
  margin-left: 0;
}

.button-list li a div {
  font-family: 'Sarala', sans-serif;
}


/* ------------------------------------
  6. Sliders 
-------------------------------------*/

.blockquotes div:first-child {
  color: #3e454c;
}


/* ------------------------------------
  7. Main Content Elements 
-------------------------------------*/


/* ------------------------------------
  8. Main Content 
-------------------------------------*/


/* ------------------------------------
  9. Forms 
-------------------------------------*/

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn>.button {
  position: relative;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
  margin-right: -1px;
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.file-reader {
  margin-top: 0 !important;
  margin-left: -2px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.control-group > label {
  margin-bottom: 0;
}

.error-input.alert-danger {
  background: #ffe8ba;
}


/* ------------------------------------
  10. Icons
-------------------------------------*/


/* ------------------------------------
  11. Footer
-------------------------------------*/