/* ---------- Main Styles------------
1. Basic classes and elements 
2. Typography
3. Header
4. List and Navigation
5. Buttons
6. Sliders
7. Main Content Elements
8. Main Content
9. Forms
10. Icons
11. Footer
-------------------------------------*/


/* ------------------------------------
1. Basic classes and elements 
-------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Sarala:400,700&subset=latin,latin-ext);
html {
  position: relative;
}

body {
  font-family: 'Sarala', sans-serif;
}

.bg-seagreen {
  background-color: #b3f2f0;
  color: #00ada7;
}

.bg-seagreen:hover {
  background-color: #00ada7;
  color: #fff;
}

.bg-yellowgreen {
  background-color: #e8f9c6;
  color: #96ca2d;
}

.bg-yellowgreen:hover {
  background-color: #96ca2d;
  color: #fff;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

img.logo {
  max-height: 100px;
  margin: auto;
}

@media (max-width: 767) {
  .footer-logo {
    text-align: center;
    padding: 0;
  }
}


/* ------------------------------------
2. Typography 
-------------------------------------*/

.title-success {
  font-size: 67px;
  line-height: 1.1;
  color: #ff680d;
  font-weight: bolder;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.text-justify,
.justify {
  text-align: justify;
}


/* ------------------------------------
3. Header 
-------------------------------------*/

.logo {
  max-width: 400px;
}

.margin-top-20 {
  margin-top: 20px;
}

.float-right {
  float: right;
}

.bad-content-link {
  float: right !important;
}

.bad-content-link a {
  color: #fff;
}

@media (max-width: 768px){
  .bad-content-link {
    float: none !important;
    text-align: center;
  }
}


/* ------------------------------------
2. Typography 
-------------------------------------*/


/* ------------------------------------
3. Header 
-------------------------------------*/

.main_menu.menu_var2 > ul > li:nth-child(1) > a.current {
  background: #ff680d;
}

.main_menu.menu_var2 > ul > li:nth-child(2) > a.current {
  background: #13b7ff;
}

.main_menu.menu_var2 > ul > li:nth-child(3) > a.current {
  background: #854ec2;
}

.main_menu.menu_var2 > ul > li:nth-child(4) > a.current {
  background: #feb41c;
}

.main_menu.menu_var2 > ul > li:nth-child(5) > a.current {
  background: #ec2913;
}

.main_menu.menu_var2 > ul > li:nth-child(6) > a.current {
  background: #00ada7;
}

.main_menu.menu_var2 > ul > li:nth-child(7) > a.current {
  background: #197bbe;
}

.main_menu.menu_var2 > ul > li:nth-child(8) > a.current {
  background: #a13d63;
}

.main_menu.menu_var2 > ul > li:nth-child(9) > a.current {
  background: #96ca2d;
}

.main_menu.menu_var2 > ul > li:nth-child(10) > a.current {
  background: #d1008b;
}


/* ------------------------------------
5. Buttons
-------------------------------------*/

.btn-block {
  width: 100%;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}

.btn-file {
  position: relative;
  overflow: hidden;
  padding: 9.5px 15px;
  cursor: pointer;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.button-list li {
  margin-bottom: 10px;
  line-height: 1.2;
  margin-left: 0;
}

.button-list li a div {
  font-family: 'Sarala', sans-serif;
}

.btn-fb {
  background: #edeff6;
  color: #4c66a3;
}

.btn-fb:hover {
  background: #4c66a3;
  color: #fff;
}

.button.view_button:not(.button_type_icon_small) {
  padding: 1px 11px;
}

.button.button_grey_light[class*="button_type_icon_"].active:not(:hover) i {
    background: #88b828;
}

.button.button_grey_light[class*="button_type_icon_"].passive:not(:hover) i {
    background: #feab06;
}

.button.active {
  background: #96ca2d;
}

.button.passive {
  background: #feb41c;
}

.event-buttons-list * {
  margin-bottom: 5px;
}


/* ------------------------------------
6. Sliders 
-------------------------------------*/

.blockquotes div:first-child {
  color: #3e454c;
}


/* ------------------------------------
7. Main Content Elements 
-------------------------------------*/

.related_articles_list li:not(:last-child) {
  padding-bottom: 25px;
  border-bottom: 2px solid #feb41c;
  margin-bottom: 25px;
}


ul.related_articles_list li.events {
  border-color: #13b7ff;
}

ul.related_articles_list li.news {
  border-color: #96ca2d;
}

ul.related_articles_list li.articles {
  border-color: #a13d63;
}

@media (min-width: 599px) {
  .col-md-left {
    float: left;
  }

  .left-box {
    max-width: 375px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}


/* ------------------------------------
8. Main Content 
-------------------------------------*/

.table-vertical tr td:first-child {
  font-weight: bold !important;
  text-align: right;
}

.table-vertical tr:first-child td {
  border-top: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .footer_top_part {
  background-color: #eee;
  min-height: 200px;
}

.text-content ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: 10px;
  -webkit-padding-start: 40px;
}

.text-content p {
  margin: 0 0 10px;
}

.weather_widget .date_list > ul li {
  float: none;
  display: inline-block;
  *display: inline;
  /*IE7*/
  *zoom: 1;
  /*IE7*/
  padding-left: 0px;
}

.weather_widget .date_list > ul li:not(:first-child) {
  margin-left: 7%;
}

.side_bar_tabs.comment_tabs ul li:hover .comment_number.active {
  background: #96ca2d;
}

.side_bar_tabs.comment_tabs ul li:hover .comment_number.passive {
  background: #feb41c;
}

.side_bar_tabs.comment_tabs .post_theme.active {
  background: #96ca2d;
}

.side_bar_tabs.comment_tabs .post_theme.passive {
  background: #feb41c;
}

.padding-top-25 {
  padding-top: 25px;
}

.box-titles h3 {
  padding: 10px;
  color: #FFF;
}

.scale_image_container.event .caption_inner {
  padding-left: 30px;
  transition: padding 0.15s ease-in-out;
}

.scale_image_container.event:hover .event-theme-tab span {
  opacity: 1;
}

.scale_image_container.event:hover .event-theme-tab {
  left: 0px;
}

.scale_image_container.event:hover .event-theme-tab i.fa {
  opacity: 1;
}

.scale_image_container.event:hover .caption_inner {
  padding-left: 55px;
}

.event-theme-tab {
  color: #ffffff;
  text-align: center;
  height: 100%;
  width: 45px;
  float: left;
  position: absolute;
  left: -30px;
  top: 0px;
  z-index: 1;
  transition: all 0.15s ease-in-out;
}

.event-theme-tab i.fa {
  margin: 0 auto;
  padding-top: 10px;
  opacity: 0;
}

.event-theme-tab span {
  float: left;
  margin: 35px auto 0;
  font-size: 14px;
  opacity: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
  transition: all 0.15s ease-in-out;
}

.event-theme-tab.passive {
  background: #feb41c;
}

.event-theme-tab.active {
  background: #96ca2d;
}

.row > .box-titles:nth-child(1) > h3 {
  background-color: #c8d23a;
}

.row > .box-titles:nth-child(2) > h3 {
  background-color: #f68933;
}

.row > .box-titles:nth-child(3) > h3 {
  background-color: #70cbd2;
}

li.active a {
  background: #ff680d;
  color: #fff;
}

a.active-event-link {
  color: #96CA2D;
}

a.passive-event-link {
  color: #FEB41C;
}


/* ------------------------------------
9. Forms 
-------------------------------------*/

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn>.button {
  position: relative;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
  margin-right: -1px;
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.file-reader {
  margin-top: 0 !important;
  margin-left: -2px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.control-group > label {
  margin-bottom: 0;
}

.error-input.alert-danger {
  background: #ffe8ba;
  margin-bottom: 10px;
}


/* enable absolute positioning */

.inner-addon {
  position: relative;
}


/* style icon */

.inner-addon .icon {
  position: absolute;
  display: block;
  padding: 9px;
  pointer-events: auto;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.5;
}

.inner-addon .icon:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}


/* align icon */

.left-addon .icon {
  left: 0px;
}

.right-addon .icon {
  right: 0px;
}


/* ------------------------------------
10. Icons
-------------------------------------*/


/* ------------------------------------
11. Footer
-------------------------------------*/

ul.socials-list li {
  min-width: 0;
  width: 30%;
}

ul.socials-list li > a {
  width: 100%;
  min-width: 0;
}

.sort {
  cursor: pointer;
}

.sort.asc,
.sort.desc {
  background: #ff680d;
}

.tag-list li {
  display: inline-block;
  margin-bottom: 10px;
}

.tag-list {
  text-align: justify;
}

ul.tag-list::after {
  width: 100%;
  display: inline-block;
  content: ".";
  visibility: hidden
}

.search-input {
  margin-bottom: 25px;
}

.search-input button {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 40px;
  width: 40px;
  background: transparent;
  color: #b0b2b4;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.search-input button:hover {
  color: #ff680d;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-right-25 {
  margin-right: 25px;
}