{% extends "KarpatskaFormBundle::layout.html.twig" %}
{% block body %}
    <form action="">
        <button type="submit" class="btn btn-block btn-primary">Vytvoriť a odoslať pdf</button>
    </form>
    <div class="container" style="max-width: 950px;">
    <h1>{{ form.name }}</h1>
    <hr class="colorgraph"/>
            {% for question in form.question %}
                {% for answer in answers if question.id == answer.question.id %}
                <div class="row row-divided print-pdf">
                    <div class="col-lg-12">
                        <label class="control-label">{{ question.questionText }}:</label>
                    </div>
                    <div class="col-lg-12 text-left">
                         {% if answer.json == 'true' %}
                             <div class="thumbnail" style="margin-left: 20px;" id="goals">
                                 <script>
                                     var activities = [];
                                     var activityLabels = ["Názov aktivity:","Popis aktivity:","Zodpovedná osoba:","Dátum realizácie:"];
                                     var goals = [];
                                     var tmpl = '';
                                     var values = {{ answer.answerText|raw }};
                                     for(var i = 0; i<values.length; i++) {
                                        tmpl += '<label>Cieľ projektu:</label>' + values[i].inputField.value;
                                        for(var j = 0; j < values[i].activities.length; j++) {
                                            tmpl += '<div class="activities" style="padding: 15px;">';
                                            tmpl += '<div id="activities"><label>Názov aktivity:</label>' + values[i].activities[j].fields[0].value+'</div>';
                                            tmpl += '<div id="activities"><label>Popis aktivity:</label>' + values[i].activities[j].fields[1].value+'</div>';
                                            tmpl += '<div id="activities"><label>Zodpovedná osoba:</label>' + values[i].activities[j].fields[2].value+'</div>';
                                            tmpl += '<div id="activities"><label>Dátum realizácie:</label>' + values[i].activities[j].fields[3].value+'</div>';
                                            tmpl += '</div>';
                                        }
                                     }
                                     $('#goals').append(tmpl);
                                 </script>
                             </div>
                            {% else %}
                            <div class="thumbnail" style="margin-left: 20px;">
                                <small>{{ answer.answerText }}</small>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
    <div class="pull-right">
        <div class="text-center">
            <br/><br/><br/>
            <span>...........................................</span>
            <br/>
            Podpis
        </div>
    </div>
{% endblock %}