{% extends "KarpatskaFormBundle::layout.html.twig" %}
{% block body %}
    <div class="container">
    <h1>{{ form.name }}</h1>
    <hr class="colorgraph"/>
            {% for question in form.question %}
                {% for answer in answers if question.id == answer.question.id %}
                <div class="row row-divided print-pdf">
                    <div class="col-lg-12">
                        <label class="control-label">{{ question.questionText }}:</label>
                    </div>
                    <div class="col-lg-12 text-left">
                        <pre>
                            {{ answer.answerText }}
                        </pre>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
    <div class="pull-right">
        <div class="text-center">
            <br/><br/><br/>
            <span>...........................................</span>
            <br/>
            Podpis
        </div>
    </div>
{% endblock %}