{% extends "::base.html.twig" %}

{% block title %}KarpatskaFormBundle:Form:form{% endblock %}

{% block body %}
<h1>{{form.name}}</h1>

{% for question in form.question %}
{{question.questionText}} <br>
{% endfor %}

{% endblock %}
