{% extends "KarpatskaFormBundle::layout.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container" style="max-width: 950px;">
        <h1>Nahrajte súbory potrebné pre potvrdenie formuláru</h1>
        <hr class="colorgraph"/>
        {{ form(form) }}
    </div>
{% endblock %}
