{% extends "::base.html.twig" %}

{% block title %}KarpatskaFormBundle:Company:register{% endblock %}

{% block body %}
<h1>Welcome to the Company:register page</h1>

    {{ form(form) }}
{% endblock %}
