/*---------------------------------------------------
------------------ SHARED STYLES --------------------
---------------------------------------------------*/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

body {
  font-family: 'Lato', sans-serif;
}
p {
  margin: 0 0 35px;
  color: #777;
  font-size: 18px;
}
.gutter-bottom {
  margin-bottom: 130px;
}

.hero {
  font-size: 56px;
  font-weight: 900;
}

.items {
  margin-bottom: 60px;
}

.item {
  background-color: #ddd;
  padding: 0;
}

.link{
  font-size: 18px;
  font-weight: 900;
  text-decoration: underline;
}

span.border {
  border-bottom: 1px solid #ddd;
  width: 30%;
  height: 1px;
  display: block;
  margin-top: 75px;
  margin-right: 60px;
  float: right;
}

/* Buttons */
.btn {
  margin-bottom: 4px;
  font-weight: bold;
}

.btn-green {
  color: #fff;
  background-color: #98e053;
  border-color: #98e053;
}

.btn-green:hover, .btn-green:focus {
  color: #fff;
  background-color: #86cc43;
  border-color: #86cc43;
}

.btn-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #ddd;
}

.btn-transparent:hover, .btn-transparent:focus {
  color: #fff;
  background-color: transparent;
  border-color: rgba(221,221,221,.7);
}

.blue {
  color: #0095cd !important;
}

.btn.border-blue {
  border: 1px solid #0095cd !important;
}

.btn.border-blue:hover {
  border: 1px solid #0095cd !important;
  opacity: 0.7;
}

/* Header */
header {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

header .navigation {
  position: absolute;
  z-index: 999;
  top: 15px;
  width: 100%;
  text-align: center;
}

header .logo img {
  width: 40px;
  margin-left: 30px;
}

header nav ul li {
  display: inline-block;
  padding-right: 15px;
}

header nav ul li a {
  color: #FFF;
}
header nav ul li a:hover, header nav ul li a:focus{
  color: #FFF;
  text-decoration: underline;
}
header .btn {
  margin: 0 15px 4px;
}

div.cover{
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0,149,205,.6);
  width:100%;
  height:100%;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.slider-text {
  position: absolute;
  bottom: 45px;
  color: #fff;
}

.slider-text * {
  position: relative;
  z-index: 999;
  text-align: center;
}
.slider-text h1 {
  font-size: 56px;
  font-weight: 400;
}
@media(max-width: 767px){
  .slider-text h1 {
    font-size: 30px;
  }
}

.perex {
  margin-bottom: 30px;
  color: #fff;
}

/* Section about */
#about {
  margin-top: 130px;
}                   

#about p {
  margin-top: 45px;
  font-size: 18px;
  text-align: justify;
  color: #777;
}

@media (min-width: 768px) and (max-width: 991px) {
  #about p {
    margin-top: 20px;
  }
}

/* Section advantages */
#advantages {
  border-top: 5px solid #0095cd;
}

#advantages div {
  padding: 0px 30px;
}
  
#advantages h2 {
  margin: 45px 0px;
  font-size: 36px;
  font-weight: bold;
  color: #0095cd;
}

#advantages p {
  font-size: 18px;
  text-align: justify;
  color: #777;
}

#advantages .btn {
  margin-top: 30px;
}

/* Section news */
#news {
  background-color: #f2f2f2;
  margin-left: -15px;
  margin-right: -15px;
}

#news > .container > .row {
  padding-top: 65px;
  padding-bottom: 65px;
}

.news-item {
  padding-top: 20px;
  border-top: 8px solid #dbdbdb;
}

.news-item > span {
  color: #A9A9A9;
  text-transform: capitalize;
}

.news-item > h2 {
  margin-top: 15px;
  color: #222;
}

.news-item > p {
  color: #777;
}

.big-news-item h2 {
  font-size: 36px;
}

.small-news-item {
  margin-bottom: 15px;
}

.small-news-item h2 {
  font-size: 24px;
}

@media (min-width: 768px) {
 
  #news > .container > .row > .col-sm-6:first-child {
    padding-left: 30px;
    padding-right: 55px;
  }
  
  #news > .container > .row > .col-sm-6:last-child {
    border-left: 2px solid #e6e6e6;
    padding-left: 55px;
    padding-right: 30px;
  }
  
}

@media (min-width: 992px) {

  .small-news-item:nth-child(odd) {
    width: 47%;
    margin-right: 3%;
  }
  
  .small-news-item:nth-child(even) {
    width: 47%;
    margin-left: 3%;
  }
  
}

/* Footer */
footer {
  margin-left: -15px;
  margin-right: -15px;
  color: #FFF;	  
}

footer .contact {
  background-color: #333;
}

@media (min-width: 768px) {
  footer .contact {
    height: 380px;
  }
}

footer .map {
  height: 380px;
  background: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: right;
}

footer .address {
  display: block;
  position: absolute;
  top: 65px;
  font-size: 24px;
  font-weight: bold;
  width: 340px;
  height: 250px;
  padding: 15px;
  background-color: #0095cd;  
}

footer .address .arrow {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px; 
  left: 0;
  bottom: 0;
  font-size: 80%;
  text-align: center;
  padding: 12px 0px;
  background-color: #26a5d4;
    
}

footer .address .viewIt {
  display: block;
  position: absolute;
  left: 60px;
  bottom: 0; 
  font-size: 80%;
  line-height: 52px;
  -webkit-font-smoothing: antialiased;
  color: #FFF;  
}



@media (max-width: 767px) {
  footer .address {
    left: 30px;
  }
}

@media (min-width: 768px) {
  footer .address {
    right: 120px;
  }
}

@media (min-width: 992px) {
  footer .address {
    right: 260px;
  }
}

@media (min-width: 1200px) {
  footer .address {
    right: 300px;
  }
}

@media (min-width: 768px) {
  footer .links {
    height: 380px;
  }
}

@media (max-width: 767px) {
  footer .moreInfo {
    margin: 50px;
  }
}

@media (min-width: 768px) {
  footer .moreInfo {
    margin-top: 100px;
    margin-left: 20%;
  }
}


footer .moreInfo h4 {
  font-size: 24px;
  font-weight: bold;
  padding-left: 9px;
  padding-bottom: 7px;
}

footer .moreInfo ul {
  padding-left: 0px;
  list-style: none;
  font-size: 16px;
}

footer .moreInfo ul li {
  padding-bottom: 5px;
}

footer .moreInfo ul li:before {
  content: "\2023 \0020";
}

footer .copyright {
  background-color: #222;
}

footer .socialBlock img {
  margin-left: 10px;
}

@media (max-width: 767px) {
  footer .copyright {
    text-align: center;
  }
  
  footer .container {
    padding: 30px;
  }
  
  footer .socialBlock img {
    margin-top: 30px;
  }
  
}

@media (min-width: 768px) {
  footer .copyright {
    line-height: 150px;
  }
  
  footer .socialBlock {
    float: right;
  }
}

/* Oportunity */
.oportunity {
  border-top: 5px solid #0095cd;
  padding: 75px 0 0;
}

.oportunity h1 {
  margin: 0;
}

.oportunity .buttons {
  padding: 30px 0;
}

.oportunity .btn{
  margin-bottom: 35px
}

/* Our life */

.lookInside .link {
  margin: 45px 0;
  float: right;
}

#ourLife .hero {
  margin-top: 60px;
  padding-right: 60px;
}

@media (min-width: 764px){
  #ourLife .link{
    padding-right: 60px;
  }
}

/* Stories */
#stories .hero {
  margin-top: 60px;
  padding-left: 60px;
}

#stories span.border {
  margin-left: 60px;
  float: left;
}
.logos {
  margin-top: 35px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/* Overlays */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay.overlay-orange {
  background-color: rgba(255,138,0,.75);
}

.overlay.overlay-azure {
  background-color: rgba(59,188,220,.75);
}

.overlay.overlay-blue {
  background-color: rgba(36,93,171,.75);
}

.overlay.overlay-red {
  background-color: rgba(151,47,60,.75);
}

.overlay.overlay-green {
  background-color: rgba(126,214,120,.75);
}

.overlay.overlay-yellow {
  background-color: rgba(245,255,139,.75);
}
