/*---------------------------------------------------
------------------ SHARED STYLES --------------------
---------------------------------------------------*/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

h1,h2,h3,h4 {
  font-family: 'Lato', sans-serif;
}

/* Containers */
.container-fluid {

}

/* Header */
header {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

header .navigation {
  position: absolute;
  z-index: 999;
  top: 15px;
  width: 100%;
  text-align: center;
}

header .logo img {
  width: 40px;
  margin-left: 30px;
}

header nav ul li {
  display: inline-block;
  padding-right: 15px;
}

header nav ul li a {
  color: #FFF;
}

div.cover{
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0,149,205,.6);
  width:100%;
  height:100%;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.slider-text {
  position: absolute;
  bottom: 45px;
  color: #fff;
}

.slider-text * {
  position: relative;
  z-index: 999;
  text-align: center;
}

.perex {
  margin-bottom: 30px;
}

/* Header buttons */
.btn {
  margin-bottom: 4px;
}

.btn-green{
  color: #fff;
  background-color: #98e053;
  border-color: #99cc66;
}

.btn-green:hover{
  color: #fff;
  background-color: #93d94f;
  border-color: #8fd44d;
}

.btn-transparent{
  color: #fff;
  background-color: transparent;
  border-color: #ddd;
}

.btn-transparent:hover{
  color: #fff;
  background-color: transparent;
  border-color: #bbb;
}

/* Section news */
#news > .row {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f2f2f2;
}

.news-item {
  border-top: 8px solid #dbdbdb;
}

@media (min-width: 768px) {

  #news > .row > .col-sm-6:last-child {
    border-left: 2px solid #e6e6e6;
  }
  
  #news > .row > .col-sm-6:first-child {
    padding-left: 30px;
    padding-right: 55px;
  }
  
  #news > .row > .col-sm-6:last-child {
    padding-left: 55px;
    padding-right: 30px;
  }
  
}

@media (min-width: 992px) {

  .small-news-items .news-item:nth-child(odd) {
    width: 47%;
    margin-right: 3%;
  }
  
  .small-news-items .news-item:nth-child(even) {
    width: 47%;
    margin-left: 3%;
  }
  
}

/* Footer */
footer {
  color: #A9A9A9;
  background-color: #222;	  
}

footer .row {
  background-color: #222;;  
}

footer .contact {
  background: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: right;
  color: #FFF;
}

@media (max-width: 767px) {
  footer .contact {
    padding-top: 45px;
    padding-bottom: 45px;  
  }
}

footer .address {
  display: block;
  position: relative;
  font-weight: bold;
  width: 190px;
  padding: 15px;
  background-color: #0095cd;  
}

@media (min-width: 768px) {
  footer .address {
    margin: 45px auto;  
  }
}

@media (max-width: 767px) {
  footer .address {
    margin-left: 15px;  
  }
}

footer .address .arrow {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #26a5d4;
  padding: 15px;    
}

footer .address .viewIt {
  padding-left: 30px;
  font-size: 90%;
  color: #FFF;  
}

footer .copyright {
  padding-top: 20px;
}

footer .links .col-md-6 {
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  footer .links .col-md-6 {
    line-height: 52px;
  }
}

footer .links a {
  color: #FFF;
  text-decoration: underline;
}

footer .moreInfo {
  width: 150px;
  margin: 50px auto;
}

footer .moreInfo ul {
  padding-left: 0px;
  list-style: none;
}

footer .moreInfo ul li:before {
  content: "\2023 \0020";
}