/*---------------------------------------------------
------------------ SHARED STYLES --------------------
---------------------------------------------------*/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

body {
  font-family: 'Lato', sans-serif;
}

/* Buttons */
.btn {
  margin-bottom: 4px;
  font-weight: bold;
}

.btn-green {
  color: #fff;
  background-color: #98e053;
  border-color: #98e053;
}

.btn-green:hover {
  color: #fff;
  background-color: #86cc43;
  border-color: #86cc43;
}

.btn-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #ddd;
}

.btn-transparent:hover {
  color: #fff;
  background-color: transparent;
  border-color: rgba(221,221,221,.7);
}

.blue {
  color: #0095cd !important;
}

.btn.border-blue {
  border: 1px solid #0095cd !important;
}

.btn.border-blue:hover {
  border: 1px solid #0095cd !important;
  opacity: 0.7;
}

/* Header */
header {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

header .navigation {
  position: absolute;
  z-index: 999;
  top: 15px;
  width: 100%;
  text-align: center;
}

header .logo img {
  width: 40px;
  margin-left: 30px;
}

header nav ul li {
  display: inline-block;
  padding-right: 15px;
}

header nav ul li a {
  color: #FFF;
}
header nav ul li a:hover, header nav ul li a:focus{
  color: #FFF;
  text-decoration: underline;
}

div.cover{
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0,149,205,.6);
  width:100%;
  height:100%;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.slider-text {
  position: absolute;
  bottom: 45px;
  color: #fff;
}

.slider-text * {
  position: relative;
  z-index: 999;
  text-align: center;
}

.perex {
  margin-bottom: 30px;
}

/* Section advantages */
#advantages {
  margin-bottom: 130px;
  border-top: 5px solid #0095cd;
}

#advantages div {
  padding: 0px 30px;
}
  
#advantages h2 {
  margin: 45px 0px;
  font-size: 36px;
  font-weight: bold;
  color: #0095cd;
}

#advantages p {
  font-size: 18px;
  text-align: justify;
  color: #777;
}

#advantages .btn {
  margin-top: 30px;
}

/* Section news */
#news {
  background-color: #f2f2f2;
  margin-left: -15px;
  margin-right: -15px;
}

#news > .container > .row {
  padding-top: 65px;
  padding-bottom: 65px;
}

.news-item {
  padding-top: 20px;
  border-top: 8px solid #dbdbdb;
}

.news-item > span {
  color: #A9A9A9;
  text-transform: capitalize;
}

.news-item > h2 {
  margin-top: 15px;
  color: #222;
}

.news-item > p {
  color: #777;
}

.big-news-item h2 {
  font-size: 36px;
}

.small-news-item {
  margin-bottom: 15px;
}

.small-news-item h2 {
  font-size: 24px;
}

@media (min-width: 768px) {
 
  #news > .container > .row > .col-sm-6:first-child {
    padding-left: 30px;
    padding-right: 55px;
  }
  
  #news > .container > .row > .col-sm-6:last-child {
    border-left: 2px solid #e6e6e6;
    padding-left: 55px;
    padding-right: 30px;
  }
  
}

@media (min-width: 992px) {

  .small-news-item:nth-child(odd) {
    width: 47%;
    margin-right: 3%;
  }
  
  .small-news-item:nth-child(even) {
    width: 47%;
    margin-left: 3%;
  }
  
}

/* Footer */
footer {
  color: #A9A9A9;
  background-color: #222;	  
}

footer .row {
  background-color: #222;;  
}

footer .contact {
  background: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: right;
  color: #FFF;
}

@media (max-width: 767px) {
  footer .contact {
    padding-top: 45px;
    padding-bottom: 45px;  
  }
}

footer .address {
  display: block;
  position: relative;
  font-weight: bold;
  width: 190px;
  padding: 15px;
  background-color: #0095cd;  
}

@media (min-width: 768px) {
  footer .address {
    margin: 45px auto;  
  }
}

@media (max-width: 767px) {
  footer .address {
    margin-left: 15px;  
  }
}

footer .address .arrow {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #26a5d4;
  padding: 15px;    
}

footer .address .viewIt {
  padding-left: 30px;
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
  color: #FFF;  
}

footer .copyright {
  padding-top: 20px;
}

footer .links .col-md-6 {
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  footer .links .col-md-6 {
    line-height: 52px;
  }
}

footer .links a {
  color: #FFF;
  text-decoration: underline;
}

footer .moreInfo {
  width: 150px;
  margin: 50px auto;
}

footer .moreInfo ul {
  padding-left: 0px;
  list-style: none;
}

footer .moreInfo ul li:before {
  content: "\2023 \0020";
}
/* Oportunity */
.oportunity {
  border-top: 5px solid #0095cd;
  padding: 35px 0;
}
.oportunity h1 {
  margin: 0;
}
.oportunity .buttons {
  padding: 15px 0;
}