/* main css */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext);

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans",arial,serif;
  font-weight: normal;
}

h1 {
  color: #1D86C8;
  font-weight: bold;
}

h2, h4 {
  color: #555;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  background-image: url("http://blueowlcreative.com/wp/aqua/wp-content/themes/Aqua/images/main_bgr.png");
  background-repeat: repeat;
  background-position: left top;
  background-attachment: fixed;
}

/* Container */
.container {
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .container {
    margin: 20px auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
  }
}

/* Header*/
header {
  padding-top: 20px;
}

header .logo img {
  margin-bottom: 20px;
  max-width: 300px;
}

header .user {
  text-align: right;
}

/* Navigation */
.navbar {
  min-height: 40px;
  border: 0px none;
  background: url("../assets/images/main_nav_bgr_dark.png") repeat-x scroll left top #393B3C;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    padding-right: 2px;
    background: url("../images/main_nav_bgr_sep_dark.png") no-repeat scroll right top transparent;
  }
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav a {
  color: #FFF;
  text-shadow: 0px 1px 0px #111;
}

.nav > li > a.active {
  background: url("../images/main_nav_bgr_dark_hover.png") repeat-x scroll left top transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background: url("../images/main_nav_bgr_dark_hover.png") repeat-x scroll left top transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: url("../images/main_nav_bgr_dark_hover.png") repeat-x scroll left top transparent;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 768px) {
  .dropdown-menu {
    width: 600px;
    background-color: #222;
  }
  
  .dropdown-menu > li {
    display: inline-block;
    width: 25%;
    float: left;
  }
  
  .dropdown-menu > li:nth-child(-n+3) {
    padding-right: 5px ;
  }
  
  .dropdown-menu > li > a {
    padding: 5px 10px;
    color: #FFF;
    background-color: #333;
  }
  
  .dropdown-menu > li > ul {
    padding-top: 5px;
    padding-left: 25px;
  }
  
  .dropdown-menu > li > ul > li > a {
    display: block;
    padding: 5px 0px;
  }
  
}

/* Collapsed navigation */
@media (max-width: 767px) {

  .navbar-toggle {
    border-color: #FFF;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: #009FDE;
  }

  .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  
  .dropdown-menu > li > a {
    padding: 5px 10px;
    color: #FFF;
    background-color: #333;
  }
  
  .dropdown-menu > li > ul > li > a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
  }

}


/* Page Home */
.responsive-slider .slider-control {
  outline: none;
}

.responsive-slider .slider-control.right,
.responsive-slider .slider-control.left {
    opacity: 0.5;
}

.responsive-slider .slider-control.right:hover,
.responsive-slider .slider-control.left:hover {
  opacity: 1;
}

.btn-blue {
  color: #FFF;
  background-color: #009FDE;
  border-color: #009FDE;
}

.btn-blue:hover,
.btn-blue:focus {
  color: #009FDE;
  background-color: #FFF;
  border-color: #009FDE;
}

@media (max-width: 767px) {  
  .btn-blue {
    margin-top: 10px;
    padding: 5px 12px;
    width: 49%;
    font-size: 14px;
    box-sizing: border-box;
    float: left;
  }
  
  .btn-blue:nth-child(odd) {
    margin-right: 2%;
  } 
}

@media (min-width: 768px) {
  .btn-blue {
    margin-bottom: 1px;
    padding: 4px 12px;
    width: 100%;
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .btn-blue {
    margin-bottom: 2px;
    padding: 6px 12px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .btn-blue {
    font-size: 22px;
  }
}

.puzzle {
  margin-top: 20px;
}

.puzzle h2 {
  font-family: "Open Sans",arial,sans-serif;
  font-weight: 400;
  background: url("../images/header_bgr_diag.png") repeat scroll left top transparent;
  font-size: 20px;
  line-height: 18px;
  margin: 20px 0px 22px;
  letter-spacing: -1px;
}

.puzzle h2 span {
  background: none repeat scroll 0% 0% #FFF;
  padding-right: 12px;
}

.puzzle img {
  width: 100%;
  border-radius: 3px;
}

.puzzle h4 {
  margin: 0px 0px 6px;
  font-size: 16px;
  line-height: 21px;
}

.puzzle p {
  color: #777;
  font-size: 12px;
  line-height: 18px;
}

.puzzle .newsItem {
  margin-bottom: 9px;
  border-bottom: 1px solid #AAA;
}

.puzzle .newsItem > h4 {
  margin: 0px;
  height: 22px;
  overflow: hidden;
}

.puzzle .newsItem > span {
  padding-right: 3px;
  font-size: 12px;
}

.puzzle .newsItem > p {
  margin-top: 5px;
  height: 18px;
  overflow: hidden;
}

.puzzle .positions h4 {

}

.puzzle .positions img {
  margin-right: 10px;
  max-width: 100px;
  border-radius: 0px;
  float: left;
}

.puzzle .positions .clearfix {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #AAA;
  height: 75px;
  overflow: hidden;
}

/* Page News */
ul.newsCategories {
  list-style: none;
  padding: 0;
}

ul.newsCategories li {
  display: inline-block;
}

ul.newsCategories li:after {
  content: " / ";
}

ul.newsCategories li:last-child:after {
  content: "";
}

.newsCategoriesActive {
  font-weight: bold;
}

/* Page Team */
.teamMembers .thumbnail {
  margin: 0px auto;
  margin-bottom: 40px;
  max-width: 380px;
}

.teamMembers img {
  margin: 0px auto;
}

.teamMembers h1 {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;  
}

@media (min-width: 768px) {
  .teamMembers h1 {
    height: 45px;
  }
}

.teamMembers h2 {
  margin-top: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFF;  
}

.teamMembers .glyphicon {
  margin-right: 10px; 
}

.teamMembers span {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 10px;  
}

.teamMembers .btn {
  margin-top: 5px;
  outline: 0px none;  
}

.teamMembers .memberInfo {
  margin: 0px auto;
  max-width: 370px;
  padding: 10px;
  background-color: #1D86C8;
}

/* Page Positions */
.positionColumn {
  margin-bottom: 20px;  
}

.positionColumn p {
  padding-top: 10px;
  border-top: 3px solid #1D86C8;
}

.positionColumn .btn {
  margin-top: 10px;
  border-color: #1D86C8;
  font-weight: bold;
}

.positionColumn .btn:hover,
.positionColumn .btn:focus {
  color: #FFF;
  background-color: #1D86C8;
}

/* Footer */
footer {
  margin-top: 20px;
  padding-bottom: 20px;
  padding: 10px 20px;
  color: #949EA3;
  background-color: #222425;
  border-top: 1px solid #373737;
}

@media (max-width: 767px) {
  footer {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  footer {
    margin-left: -30px;
    margin-right: -30px;
    border-radius: 0px 0px 5px 5px;
  }
}

footer a {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #949EA3;
  transition: all 0.2s ease-out 0.1s;
}

footer a:hover {
  color: #009FDE;
  text-decoration: none;
}