/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Alegreya&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic,700,700italic&subset=latin,latin-ext);

h1 {
  font-family: 'Alegreya', serif;
  color: #1962B5;
}

h4,h2,h3 {
  font-family: 'Alegreya', serif;
  color: #003399;
}
h5{
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
  font-weight: bolder;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

/* Custom styles */

body {
  background: url(../images/liba-bg.png) center center #EFEFEF;
}
article{
  text-align: justify;
}

.container {
  padding-top: 30px;
  background-color: #FFF;
}

.img-logo {
  margin-bottom: 20px;
}

.footer-bg {
  margin-top: 30px;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f08819;
}

.img-logo-nesskdckosiciam {
  margin: 20px auto;
}

.img-article {
  margin: 0px 10px 10px 0px;
}

.img-article-left{
  margin-right: 15px;
}
.img-article-right{
  margin-left: 15px;
}
/** MEDIA **/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Medium devices (desktops, 992px and down) */
@media (min-width: 991px) {
  .nav.navbar-nav > li{
    border-left: 1px solid #fff;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .container {
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px #707070;
  }

}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {

}

@media (min-width: 600px) {

}

/** NAVBAR **/
.navbar-collapse{
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav {
  margin: 0;
}

.navbar-nav > li:first-child > a {
  border-radius: 4px 0 4px 0;
}

.navbar-default{
  background-color: #ff9900;
  text-transform: uppercase;
  border-color: #fff;
}

.navbar-default .navbar-nav > li > a{
  background-color: #ff9900;
  color: #fff ;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li:hover > a{
  color: #fff;
  background: #6f563d;
  transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li:focus > a{
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color: #fff;
  background-color: #6f563d;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  color: #fff;
  background-color: #6f563d;
}
.dropdown-menu{
  background-color: #ff9900;
}

.dropdown-menu > li > a{
  color: #fff;
  background-color: #ff9900;
}

.dropdown-menu > li:hover > a{
  color: #fff !important;
  background-color: #6f563d;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  color: #fff;
  background-color: #6f563d;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
  color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
  color: #fff;
}

/** Button in navbar for small devices **/
.navbar-default .navbar-toggle{
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #eee;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: #fff;
}

/** Other **/

.sponsor-logo{
  max-width: 120px;
  max-height: 120px;
}

#trainings td{
  text-align: center;
  padding: 3px;
}
#trainings th{
  padding: 3px;
}

.thumb-gallery-item {
  height: 225px;
  transition: all 0.2s;
}

.thumb-gallery-item a {
  text-decoration: none !important;
}

.thumb-gallery-item:hover {
  opacity: .75;
}

.thumb-gallery-item > .thumb-img-wrapper{
  max-height: 125px;
  overflow: hidden;
}

.thumb-gallery-item img {
  width: 100%;
}

a.no-decorations {
  text-decoration: none; 
}
