/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
body{
    background-color: #eef;
}
input[type="submit"]{
    margin-bottom: 8px;
}
.input-error{
    border: 1px solid #d9534f;
}
.text-danger{
    color: #d9534f;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    display: block;
    padding: 12px;
    pointer-events: auto;
    cursor: pointer;
    font-size:20px;
    z-index: 99;
    opacity: 0.5;
}
.inner-addon .glyphicon:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.clearfix{
    clear: both;
}
div.errors{
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    background-color: #f2dede;
    /*padding: 10px;*/
}
div.errors .alert-danger{
    padding: 10px 30px;
}
.close{
    border-top: 2px solid #ebccd1;
    border-bottom: 2px solid #ebccd1;
    text-align: center !important;
}
#printer{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-group-lg textarea.form-control{
    height: 120px;
    max-width: 100%;
}
@media print {
    .errors{
        visibility: hidden;
    }
    .btn{
        visibility: hidden;
    }
}
